@model WebIU.Models.TezgahModels.TezgahtaYapılacakİşEmirleriViewModel

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label class="text-red">* Tezgahta Aktif Olan İş Emirleri Aşağıda Listelenmektedir</label>
                    </div>
                </div>

                @foreach (var item in Model.işEmris)
                {
                    <div class="row" işId="@item.Id" id="İşEmiriDiv">
                        <div class="col">
                            <div class="info-box shadow">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">İş Emri Adı: @item.İşEmriAdı</span>
                                    <span class="info-box-text">Hedeflenen Üretim Adeti: @item.HedefÜretim</span>

                                    @{
                                        var uruns = item.Uruns;
                                        var tamamlananCounter = 0;
                                        var olmasıGerekenTamamlanmaSayısı = item.Reçete.Reçete_Iş_MTMs.Count();
                                        foreach (var urun in uruns)
                                        {
                                            var tamamlananUrunAşamasıSayısı = urun.UrunAşamalarıs.Where(o => o.TamamlanmaDurumu == true).Count();
                                            if (olmasıGerekenTamamlanmaSayısı == tamamlananUrunAşamasıSayısı)
                                            {
                                                tamamlananCounter++;
                                            }
                                        }

                                    }
                                    <span class="info-box-text">Tamamlanan Üretim Adeti: @tamamlananCounter</span>
                                    <span class="info-box-number"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#İşEmiriDiv').click(function () {

            window.location.href = "/Urun/UrunListesi?Id=" + $(this).attr('işId')






        })
    })
</script>