@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="~/images/nagislogonew.png" />
        </div>
        <!-- /.login-logo -->
        @if (TempData["message"] != null)
        {
            <div class="alert alert-primary">
                @TempData["message"]
            </div>
        }
        <div class="card card-outline card-primary">
            <div class="card-body text-white">
                <section>
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-group mt-4  px-4" }))
                    {
                        <div class="input-group mb-3">
                            <input name="email" class="form-control" placeholder="@Language["EmailAdress"]">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-solid fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@Language["ResetPassword"]</button>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>

