@model WebIU.Models.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="~/images/nagislogonew.png" />
        </div>
        <!-- /.login-logo -->
        @if (TempData["message"] != null)
        {
            <div class="alert alert-primary">
                @TempData["message"]
            </div>
        }
        <div class="card card-outline card-primary">
            <div class="card-body text-white">
                <section>
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-group mt-4  px-4" }))
                    {
                        <div class="input-group mb-3">
                            <input asp-for="Password" Id="Password" class="form-control" placeholder="@Language["Password"]">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock toggle-password"></span>
                                </div>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="ConfirmPassword" Id="ConfirmPassword" class="form-control" placeholder="@Language["ConfirmPassword"]">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock toggle-password-confirm" id="passwordConfirm"></span>
                                </div>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input asp-for="Code" type="hidden" />
                        <input asp-for="Email" type="hidden" />
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@Language["ResetPassword"]</button>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>



