<div class="row">
    <div class="col">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <input type="text" id="OkutucuIntput" name="name" class="form-control" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>