@model WebIU.Models.ŞantiyeViewModel.ŞantiyeBilgiViewModel

<div class="row">
    <div class="col">
        <div class="card">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <a href="/Şantiye/BlokAdd?Id=@Model.Şantiye.Id" class="btn btn-primary" id="StokOluşturModalAçBtn"><i class="fa fa-plus"></i> Yeni Şantiye Oluştur</a>
                </div>
            </div>
        </div>
    </div>
</div>