<!DOCTYPE html>
<html lang="tr">
<head>
    <partial name="Partials\_ValidationCssPartial" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <partial name="Partials\_LoadingSpinnerPartial" />
    @{
        await Html.RenderPartialAsync("_GenericModal");
    }
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        @await Component.InvokeAsync("Navbar")
        <!-- Sidebar -->
        @await Component.InvokeAsync("SideBar")
        <div class="content-wrapper" style="min-height: 805px;">
            <section class="content">
                <div>
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-primary">
                            @TempData["message"]
                            <div asp-validation-summary="All"></div>
                        </div>
                    }
                </div>
                <div>
                    @RenderBody()
                </div>
            </section>
        </div>

    </div>
    <footer class="main-footer">
        @await Component.InvokeAsync("Footer")
    </footer>
    @RenderSection("Scripts", required: false)
    <partial name="Partials\_ValidationScriptsPartial" />

</body>
</html>
