@model WebIU.Models.TanımlarViewModel.DepoKoduTanımViewModel

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label class="text-red">A: Harf</label><br />
                        <label class="text-red">9: Sayı</label><br />
                        <label class="text-red">H: Harf Sayı Karışık</label><br />
                        <label class="text-red">Örneğin 999.999.AAA Yapılırsa 001.001.ABC</label><br />
                        <label class="text-red">Örneğin 999.999.HHH Yapılırsa 001.001.1BC</label><br />
                        <label class="text-red">Örneğin 999.999.999 Yapılırsa 001.001.001</label><br />
                        <label class="text-red">Örneğin 999.999.AAH Yapılırsa 001.001.AB9</label><br />
                        <label class="text-red"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Kod Tanımı: </label>
                        @if (Model != null)
                        {
                            <input type="text" id="KodTanımı" class="form-control" name="name" value="@Model.Tanım" />
                        }
                        else
                        {
                            <input type="text" id="KodTanımı" class="form-control" name="name" value="" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">
                                <button id="KaydetBtn" class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#KaydetBtn').click(function () {
            var data = new FormData();
            data.append('Kod', $('#KodTanımı').val())

            $.ajax({
                url: "/Tanımlar/DepoKoduTanımSave",
                type: "POST",
                processData: false,
                contentType: false,
                async: false,
                data: data,
                success: function (data) {
                    if (data.status == 1) {
                        successAlert(data.message)
                    }
                    else {
                        errorAlert(data.message)
                    }
                },
            });
        })

    })
</script>
