
<div class="row">
    <div class="col">
        <div class="card">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <button class="btn btn-primary" id="DepoEkleModalAçBtn"><i class="fa fa-plus"></i> Yeni Depo Oluştur</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table id="OrderList"
                               data-toolbar="#OrderListToolBar"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-id-field="id"
                               data-page-list="[10, 25, 50, 100, all]"
                               data-locale="Tr-tr"
                               data-search="true"
                               data-show-refresh="true"
                               data-show-export="true">
                            <thead>
                                <tr>
                                    <th data-field="id" data-title="id" hidden data-sortable="false"></th>
                                    <th data-field="depoAdı" data-title="Depo Adı" data-sortable="false"></th>
                                    <th data-field="depoAdres" data-title="Adres" data-sortable="false"></th>
                                    <th data-title="Actions" data-sortable="false"></th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="DepoEkleModal" aria-labelledby="GenericModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="min-width:1500px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="GenericModalTitle">Depo Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="DepoEkleModalBody">
                <div class="row">
                    <div class="col">
                        <label>Depo Adı:</label>
                        <input type="text" id="DepoAdı" class="form-control" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Adres :</label>
                        <textarea class="form-control" id="Adres" rows="3"></textarea>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">
                                <button class="btn btn-warning" id="DepoEkleBtn"><i class="fa fa-save"></i> Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="DepoDüzenleModal" aria-labelledby="GenericModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="min-width:1500px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="GenericModalTitle">Depo Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="DepoEkleModalBody">
                <div class="row">
                    <div class="col">
                        <label>Depo Adı:</label>
                        <input type="text" id="DepoAdıDüzenle" class="form-control" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Adres :</label>
                        <textarea class="form-control" id="AdresDüzenle" rows="3"></textarea>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">
                                <button class="btn btn-warning" id="DepoDüzenleBtn"><i class="fa fa-save"></i> Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        OrderTablosuDoldur()
        $('#DepoEkleModalAçBtn').click(function () {
            $('#DepoEkleModal').modal('show')
        })

        $('#DepoEkleBtn').click(function () {
            var data = new FormData();
            //data.append('Id', $(this).attr('StokId'))
            data.append('DepoAdı', $('#DepoAdı').val())
            data.append('Adres', $('#Adres').val())

            $.ajax({
                url: "/Depo/DepoEkle",
                type: "POST",
                processData: false,
                contentType: false,
                async: false,
                data: data,
                success: function (data) {
                    if (data.status == 1) {
                        successAlert(data.message)
                    }
                    else {
                        errorAlert(data.message)
                    }
                    $('#DepoEkleModal').modal('hide')
                    OrderTablosuDoldur()

                },
            });
        })
        $('#DepoDüzenleBtn').click(function () {
            var data = new FormData();
            data.append('Id', $(this).attr('DepoId'))
            data.append('DepoAdı', $('#DepoAdıDüzenle').val())
            data.append('Adres', $('#AdresDüzenle').val())

            $.ajax({
                url: "/Depo/DepoDüzenle ",
                type: "POST",
                processData: false,
                contentType: false,
                async: false,
                data: data,
                success: function (data) {
                    if (data.status == 1) {
                        successAlert(data.message)
                    }
                    else {
                        errorAlert(data.message)
                    }
                    $('#DepoEkleModal').modal('hide')
                    OrderTablosuDoldur()

                },
            });
        })


    })


    function OrderTablosuDoldur() {
        $('#OrderList').bootstrapTable("destroy")
        $('#OrderList').bootstrapTable({
            url: "/Depo/DepoGetPagination",
            columns: [
                [
                    {},
                    {},
                    {},
                    {
                        formatter: ActionFormatter
                    },
                ]
            ],
            onLoadSuccess: afterLoad,
        })
        function ActionFormatter(value, row) {
            var value = "";
            value += "<button id='DepoDüzenleModalAçBtn' DepoId='" + row["id"] + "' class='btn btn-warning'><i class='fa fa-edit'></i> Düzenle</button> ";
            value += "<button id='DepoSil' DepoId='" + row["id"] + "' class='btn btn-danger'><i class='fa fa-trash'></i></button>";

            return value
        }
        function afterLoad() {
            $('#DepoSil').click(function () {
                var data = new FormData();
                data.append('Id', $(this).attr('DepoId'))

                Swal.fire({
                    title: ' silinecektir!',
                    text: 'Silmek istediğinizden emin misiniz?',
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: "Geri dön",
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/Depo/DepoSil",
                            type: "POST",
                            processData: false,
                            contentType: false,
                            async: false,
                            data: data,
                            success: function (data) {
                                if (data.status == 1) {
                                    successAlert(data.message)
                                }
                                else {
                                    errorAlert(data.message)
                                }
                                OrderTablosuDoldur()
                            },
                        });
                    }
                })

            })




            $('#DepoDüzenleModalAçBtn').click(function () {
                $('#DepoDüzenleModal').modal('show')
                var data = new FormData();
                data.append('Id', $(this).attr('DepoId'))
                $('#DepoDüzenleBtn').attr('DepoId', $(this).attr('DepoId'))

                $.ajax({
                    url: "/Depo/GetDepo",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    async: false,
                    data: data,
                    success: function (data) {
                        $('#DepoAdıDüzenle').val(data.depoAdı)
                        $('#AdresDüzenle').val(data.depoAdres)
                    },
                });

            })

        }
    }

</script>