@model WebIU.Models.ReçeteViewModels.ReçeteIndexViewModel


<div class="row">
    <div class="col">
        <div class="card">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <button class="btn btn-primary" id="ReçeteOluştur"><i class="fa fa-plus"></i> Yeni Reçete Oluştur</button>
                    <a class="btn btn-primary" href="/Reçete/ReçeteAdd" class="fa fa-plus"></i> Yeni Reçete Oluştur</a>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table id="OrderList"
                               data-toolbar="#OrderListToolBar"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-id-field="id"
                               data-page-list="[10, 25, 50, 100, all]"
                               data-locale="Tr-tr"
                               data-search="true"
                               data-show-refresh="true"
                               data-show-export="true">
                            <thead>
                                <tr>
                                    <th data-field="id" data-title="id" hidden data-sortable="false"></th>
                                    <th data-field="reçeteAdı" data-title="Reçete Adı" data-sortable="false"></th>
                                    <th data-field="açıklama" data-title="Açıklama" data-sortable="false"></th>
                                    <th data-title="Actions" data-sortable="false"></th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ReçeteOluşturModal" aria-labelledby="GenericModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="min-width:1500px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="GenericModalTitle"> Reçete Oluştur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="ReçeteOluşturModalBody">
                <div class="row">
                    <div class="col">
                        <label>Reçete Adı:</label>
                        <input type="text" id="ReçeteAdı" class="form-control" value="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Açıklama :</label>
                        <textarea rows="3" class="form-control" id="Açıklama"></textarea>
                    </div>
                </div>



                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">
                                <button class="btn btn-warning" id="ReçeteKaydetBtn"><i class="fa fa-save"></i> Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {






        OrderTablosuDoldur()
        $('#ReçeteOluştur').click(function () {
            $('#ReçeteOluşturModal').modal('show')
        })

        $('#KullanılıcakStokSelect').select2({
            dropdownParent: $("#ReçeteOluşturModal")
        })

        $('#YapılanIşlerSelect').select2({
            dropdownParent: $("#ReçeteOluşturModal")
        })


        $('#TezgahtaYapılanİşEkle').click(function () {
            var boş = '' +
                '  <tr id="IşSilinecek">' +
                '        <td class="text-center" colspan="3"> Hiç Veri Bulunamadı</td>' +
                '    </tr>' +
                '';
            var data = '' +
                '   <tr id="Işdata" IşId="' + $('#YapılanIşlerSelect').find(':selected').val() + '">' +
                '        <td>' + $('#YapılanIşlerSelect').find(':selected').html() + '</td>' +
                '        <td>' + $('#YapılanIşlerSelect').find(':selected').attr('açıklama') + '</td>' +
                '        <td><button class="btn btn-danger" id="YapılanIşSilBtn"><i class="fa fa-trash"></i></button></td>' +
                '    </tr>' +
                '';

            var silinecekCounter = $('#IşSilinecek').each(function () { }).length
            if (silinecekCounter >= 1) {
                var varmı = $('tr[id="Işdata"][IşId="' + $('#YapılanIşlerSelect').find(':selected').val() + '"]').each(function () { }).length

                if (varmı <= 0) {
                    $('#YapılanIşBody').empty();
                    $('#YapılanIşBody').append(data);
                }

            }
            else {
                var varmı = $('tr[id="Işdata"][IşId="' + $('#YapılanIşlerSelect').find(':selected').val() + '"]').each(function () { }).length



                if (varmı <= 0) {
                    $('#YapılanIşBody').append(data);
                }
            }

            $('#YapılanIşSilBtn').click(function () {
                $(this).parent().parent().remove();
                var dataCounter = $('#Işdata').each(function () { }).length
                var silinecekCounter = $('#IşSilinecek').each(function () { }).length
                if (dataCounter <= 0) {
                    if (silinecekCounter <= 0) {
                        $('#YapılanIşBody').append(boş);
                    }
                }
            })
        })



        $('#KullanılacakStokEkle').click(function () {
            var boş = '' +
                '  <tr id="StokSilinecek">' +
                '        <td class="text-center" colspan="3"> Hiç Veri Bulunamadı</td>' +
                '    </tr>' +
                '';
            var data = '' +
                '   <tr id="Stokdata" StokAdet="' + $('#StokAdetInput').val() + '" StokId="' + $('#KullanılıcakStokSelect').find(':selected').val() + '">' +
                '        <td>' + $('#KullanılıcakStokSelect').find(':selected').html() + '</td>' +
                '        <td>' + $('#StokAdetInput').val() + '</td>' +
                '        <td><button class="btn btn-danger" id="YapılanStokSilBtn"><i class="fa fa-trash"></i></button></td>' +
                '    </tr>' +
                '';

            var silinecekCounter = $('#StokSilinecek').each(function () { }).length
            if (silinecekCounter >= 1) {
                var varmı = $('tr[id="Işdata"][IşId="' + $('#KullanılıcakStokSelect').find(':selected').val() + '"]').each(function () { }).length

                if (varmı <= 0) {
                    $('#YapılanStokBody').empty();
                    $('#YapılanStokBody').append(data);
                }

            }
            else {
                var varmı = $('tr[id="Stokdata"][StokId="' + $('#KullanılıcakStokSelect').find(':selected').val() + '"]').each(function () { }).length



                if (varmı <= 0) {
                    $('#YapılanStokBody').append(data);
                }
            }

            $('#YapılanStokSilBtn').click(function () {
                $(this).parent().parent().remove();
                var dataCounter = $('#Stokdata').each(function () { }).length
                var silinecekCounter = $('#StokSilinecek').each(function () { }).length
                if (dataCounter <= 0) {
                    if (silinecekCounter <= 0) {
                        $('#YapılanStokBody').append(boş);
                    }
                }
            })
        })



        $('#ReçeteKaydetBtn').click(function () {

            var data = new FormData();
            data.append('ReçeteAdı', $('#ReçeteAdı').val())
            data.append('Açıklama', $('#Açıklama').val())

            $('tr[id="Işdata"]').each(function () {
                data.append('IşsIds[]', $(this).attr('IşId'))
            })

            $.ajax({
                url: "/Reçete/ReçeteEkle",
                type: "POST",
                processData: false,
                contentType: false,
                async: false,
                data: data,
                success: function (data) {
                    if (data.status == 1) {
                        successAlert(data.message)
                    }
                    else {
                        errorAlert(data.message)
                    }
                    OrderTablosuDoldur()
                },
            });


        })


    })





    function OrderTablosuDoldur() {
        $('#OrderList').bootstrapTable("destroy")
        $('#OrderList').bootstrapTable({
            url: "/Reçete/GetReçetePagination",
            columns: [
                [
                    {},
                    {},
                    {},
                    {
                        formatter: ActionFormatter
                    },
                ]
            ],
            onLoadSuccess: afterLoad,
        })
        function ActionFormatter(value, row) {
            var value = "";
            //value += "<button id='OrderConfrimationEditBtn' odrderId='" + row["id"] + "' class='btn btn-warning'><i class='fa fa-edit'></i> Düzenle</button>";
            value += "<a href='/Reçete/ReçeteDüzenle?Id=" + row["id"] + "' odrderId='" + row["id"] + "' class='btn btn-warning'><i class='fa fa-edit'></i> Düzenle</a> ";
            value += "<button id='IşSil' IşId='" + row["id"] + "' class='btn btn-danger'><i class='fa fa-trash'></i></button>";


            return value
        }
        function afterLoad() {
            $('#IşSil').click(function () {
                var data = new FormData();
                data.append('Id', $(this).attr('IşId'))

                Swal.fire({
                    title: ' silinecektir!',
                    text: 'Silmek istediğinizden emin misiniz?',
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: "Geri dön",
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/Reçete/ReleçeteSil",
                            type: "POST",
                            processData: false,
                            contentType: false,
                            async: false,
                            data: data,
                            success: function (data) {
                                if (data.status == 1) {
                                    successAlert(data.message)
                                }
                                else {
                                    errorAlert(data.message)
                                }
                                OrderTablosuDoldur()
                            },
                        });
                    }
                })

            })

        }

    }

</script>