
@{
    ViewData["Title"] = "Accessdenied";
}

<div class="text-center text-danger p-5 ">
    <h1>@Language["AccessDenied"]</h1>
    <h6>@Language["NotAuthorized"]</h6>
    <i class="fas fa-minus-circle fa-10x"></i>
</div>


