@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col">
        <a href="/Tezgah/TezgahtaYapılacakİşEmirleri?qr=c16e3aa4-219b-4bbb-9d8f-49ad83f4e508" class="btn btn-primary"><i class="fa fa-arrow-right"></i> TEZGAH SAYFASINA GİT</a>
        <a href="/Urun/Index?qr=6c78ddbd-8a2f-4680-8b1d-300698b49e83" class="btn btn-primary"><i class="fa fa-arrow-right"></i> ÜRÜN SAYFASINA GİT</a>
    </div>
</div>
@*6c78ddbd-8a2f-4680-8b1d-300698b49e83*@
<div class="row">
    <div class="col">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <label>@Language["announcement"]</label>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table id="AnnouncementTable"
                               data-toolbar="#AllTransactionsToolBar"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-id-field="id"
                               data-page-list="[10, 25, 50, 100, all]"
                               data-locale="@Language["locale"]"
                               data-search="true"
                               data-detail-formatter="detailFormatter"
                               data-detail-view="true"
                               data-show-refresh="true"
                               data-show-export="false">
                            <thead>
                                <tr>
                                    @*<th data-field="type" data-width="10" data-width-unit="%" data-sortable="true">Type</th>*@
                                    <th data-field="releaseDate" data-title="@Language["ReleaseDate"]" data-width="10" data-width-unit="%" data-sortable="true">Release Date</th>
                                    <th data-field="subject" @Language["Subject"] data-sortable="true">Subject</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function detailFormatter(index, row) {
        var response = "";
        $.ajax({
            type: 'GET',
            url: "/Announcement/AnnouncementContext/" + row["id"],
            async: false,
            success: function (res) {
                response = res;
            }
        });
        return response;
    }


    $(document).ready(function () {
        $('#AnnouncementTable').bootstrapTable({
            url: "/Home/TableWith_Announcments",
            columns: [
                [
                    {},
                    {},
                ]
            ]
        })

    })
</script>