@{
    ViewData["Title"] = "Page500";
}
<div class="d-flex align-items-center justify-content-center vh-50">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> @Language["SomethingWentWrong"]</p>
        <p class="lead">
            @Language["Page500Erorr"]
        </p>
        <a href="/home/index" class="btn btn-primary">@Language["GoHome"]</a>
    </div>
</div>