<div class="row">
    <div class="col">
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <button id="AktarımıBaşlatBtn" class="btn btn-primary"> İş Emri Üretilmiş Ürün Aktarımını Başlat</button>
            </div>
            <div class="p-2">
                <button id="MüşteriAktarımınıBaşlat" class="btn btn-primary"> Müşteri Aktarımı Başalt</button>
            </div>
            <div class="p-2">
                <button id="StokAktarBtn" class="btn btn-primary"> StokAktar</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#StokAktarBtn').click(function () {
            var data = new FormData();
            data.append('Id', 0);



            $.ajax({
                url: "/KareKod/StokAktar",
                type: "POST",
                processData: false,
                contentType: false,
                async: false,
                data: data,
                success: function (data) {
                    if (data.status == 1) {
                        successAlert(data.message);
                    } else {
                        errorAlert(data.message);
                    }
                },
            });
        })
        $('#MüşteriAktarımınıBaşlat').click(function () {
            var data = new FormData();
            data.append('Id', 0);



            $.ajax({
                url: "/KareKod/MüşteriAktarımınıBaşlat",
                type: "POST",
                processData: false,
                contentType: false,
                async: false,
                data: data,
                success: function (data) {
                    if (data.status == 1) {
                        successAlert(data.message);
                    } else {
                        errorAlert(data.message);
                    }
                },
            });
        })
        $('#AktarımıBaşlatBtn').click(function () {
            var data = new FormData();
            data.append('Id', 0);



            $.ajax({
                url: "/KareKod/AktarımıBaşlat",
                type: "POST",
                processData: false,
                contentType: false,
                async: false,
                data: data,
                success: function (data) {
                    if (data.status == 1) {
                        successAlert(data.message);
                    } else {
                        errorAlert(data.message);
                    }
                },
            });
        })

    })
</script>