<div class="row">
    <div class="col">
        <div class="card">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2" id="BaşlatDiv">
                            <a href="/KareKod/AnaUrunAdd" class="btn btn-primary" id="YeniAnaUrunEkle"><i class="fa fa-play"></i> Yeni Ana Urun Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <table id="OrderList"
                                               data-toolbar="#OrderListToolBar"
                                               data-pagination="true"
                                               data-side-pagination="server"
                                               data-id-field="id"
                                               data-page-list="[10, 25, 50, 100, all]"
                                               data-locale="Tr-tr"
                                               data-search="true"
                                               data-show-refresh="true"
                                               data-show-export="true">
                                            <thead>
                                                <tr>
                                                    <th data-field="name" data-title="Ürün Adı" data-sortable="false"></th>
                                                    <th data-field="gtin" data-title="Gtin" data-sortable="false"></th>
                                                    <th data-field="unit" data-title="Birim" data-sortable="false"></th>
                                                    <th data-field="origin" data-title="Menşei" data-sortable="false"></th>
                                                    <th data-field="rafCycleUnit" data-title="Raf Ömrü" data-sortable="false"></th>
                                                    <th data-field="rafCycleTime" data-title="Raf Ömrü Birimi" data-sortable="false"></th>
                                                    <th data-field="productType" data-title="Ürün Tipi" data-sortable="false"></th>
                                                    <th data-field="boxesInPalet" data-title="Paletteki Koli Adeti" data-sortable="false"></th>
                                                    <th data-field="productInBox" data-title="Kolideki Paket Adeti" data-sortable="false"></th>
                                                    <th data-field="productsInPack" data-title="Paketteki Ürün Adeti" data-sortable="false"></th>
                                                    <th data-title="Actions" data-sortable="false"></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {


        OrderTablosuDoldur();
    })
    function OrderTablosuDoldur() {
        $('#OrderList').bootstrapTable("destroy")
        $('#OrderList').bootstrapTable({
            url: "/Karekod/AnaUrunlerPagination",
            columns: [
                [
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {},
                    {
                        formatter: ActionFormatter
                    },
                ]
            ],
            onLoadSuccess: afterLoad,
        })
        function ActionFormatter(value, row) {
            var value = "";
            value += "<a href='/KareKod/AnaUrunEdit?Id=" + row["id"] + "' class='btn btn-warning'><i class='fa fa-edit'></i> Düzenle</a>";
            value += " <button id='AnaUrunSil' rowId='" + row["id"] + "' class='btn btn-danger'><i class='fa fa-trash'></i></button>";


            return value
        }
        function afterLoad() {
            $('#AnaUrunSil').click(function () {
                var data = new FormData();
                data.append('Id', $(this).attr('rowId'))

                Swal.fire({
                    title: ' silinecektir!',
                    text: 'Silmek istediğinizden emin misiniz?',
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: "Geri dön",
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/KareKod/AnaUrunDelete",
                            type: "POST",
                            processData: false,
                            contentType: false,
                            async: false,
                            data: data,
                            success: function (data) {
                                if (data.status == 1) {
                                    successAlert(data.message)
                                }
                                else {
                                    errorAlert(data.message)
                                }
                                OrderTablosuDoldur()
                            },
                        });
                    }
                })

            })

        }

    }
</script>