<div class="row">
    <div class="col">
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <a href="/KareKod/IstasyonAdd" id="YeniİstasyonEkleBtn" class="btn btn-primary"><i class="fa fa-plus"></i> Yeni İstasyon Ekle</a>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <table id="OrderList"
                                               data-toolbar="#OrderListToolBar"
                                               data-pagination="true"
                                               data-side-pagination="server"
                                               data-id-field="id"
                                               data-page-list="[10, 25, 50, 100, all]"
                                               data-locale="Tr-tr"
                                               data-search="true"
                                               data-show-refresh="true"
                                               data-show-export="true">
                                            <thead>
                                                <tr>
                                                  
                                                    <th data-field="istasyonAdı" data-title="İstasyon Adı" data-width="50" data-sortable="false"></th>
                                                    <th data-field="ipAdresi" data-title="İp Adresi" data-width="1500" data-sortable="false"></th>
                                                    <th data-field="x1JetIpAdresi" data-title="X1Jet İp Adresi" data-width="1500" data-sortable="false"></th>
                                                    <th data-field="yazıcıIpAdresi" data-title="Yazıcı İp Adresi" data-width="1500" data-sortable="false"></th>
                                                    <th data-field="port" data-title="Port" data-width="50" data-sortable="false"></th>
                                                    <th data-title="Actions" data-sortable="false"></th>
                                                </tr>
                                            </thead>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        OrderTablosuDoldur()
    })
    function OrderTablosuDoldur() {
        $('#OrderList').bootstrapTable("destroy")
        $('#OrderList').bootstrapTable({
            url: "/KareKod/IstasyonPagination",
            columns: [
                [
                    {},
                    {},
                    {},
                    {},
                    {},
                    {
                        formatter: ActionFormatter
                    },
                ]
            ],
            onLoadSuccess: afterLoad,
        })
        function ActionFormatter(value, row) {
            var value = "";
            //value += "<button id='OrderConfrimationEditBtn' odrderId='" + row["id"] + "' class='btn btn-warning'><i class='fa fa-edit'></i> Düzenle</button>";
            value += "<a href='/KareKod/IstasyonEdit?Id="+row["id"]+"'  odrderId='" + row["id"] + "' class='btn btn-warning'><i class='fa fa-edit'></i> Düzenle</a>";
            value += "<button id='IşSil' IşId='" + row["id"] + "' class='btn btn-danger'><i class='fa fa-trash'></i></button>";


            return value
        }
        function afterLoad() {
            $('#IşSil').click(function () {
                var data = new FormData();
                data.append('Id', $(this).attr('IşId'))

                Swal.fire({
                    title: ' silinecektir!',
                    text: 'Silmek istediğinizden emin misiniz?',
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: "Geri dön",
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/KareKod/IstasyonDelete",
                            type: "POST",
                            processData: false,
                            contentType: false,
                            async: false,
                            data: data,
                            success: function (data) {
                                if (data.status == 1) {
                                    successAlert(data.message)
                                }
                                else {
                                    errorAlert(data.message)
                                }
                                OrderTablosuDoldur()
                            },
                        });
                    }
                })

            })

        }

    }
</script>