<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label>Müşteri Adı:</label>
                        <input class="form-control" type="text" name="name" id="Adı" value="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Şube GLN:</label>
                        <input type="text" id="Gln" class="form-control" name="name" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Merkez GLN:</label>
                        <input type="text" class="form-control" id="ToGln" name="name" value="" />

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Adres :</label>
                        <textarea class="form-control" rows="3" id="Adres"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">
                                <button class="btn btn-warning" id="KaydetBtn"><i class="fa fa-save"></i> Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $('#KaydetBtn').click(function () {

            var data = new FormData();
            data.append('Adı', $('#Adı').val());
            data.append('Gln', $('#Gln').val());
            data.append('ToGln', $('#ToGln').val());
            data.append('Adres', $('#Adres').val());

            $.ajax({
                url: "/KareKod/MüşteriAdd",
                type: "POST",
                processData: false,
                contentType: false,
                async: false,
                data: data,
                success: function (data) {
                    if (data.status == 1) {
                        successAlert(data.message);
                        setTimeout(() => {
                            window.location.href = "/KareKod/Müşteriler";
                       }, 1000);
                    } else {
                        errorAlert(data.message);
                    }
                },
            });
        });

    })
</script>